.headerAnimate{
	font-size: 7rem;
	margin: 20rem auto;
	text-align: center;
}

.gallery{
	align-items: center;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: auto auto auto;
	margin: 3rem auto;
	width: 90vw;
}

.galleryImg{
	height: 50vh;
	object-fit: cover;
	width: calc(90vw / 3);
}

.galleryImg:hover{
	position: relative;
	transform: scale(1.05);
}

@media (max-width: 1100px){
	.headerAnimate{
		font-size: 3rem;
		margin: 20rem auto;
		text-align: center;
	}
	.galleryImg:hover{
		transform: none;
	}

}

@media(max-width: 700px){
	.headerAnimate{
		font-size: 2rem;
	}
	.gallery{
		grid-template-columns: auto;
	}
	.galleryImg{
		height: 50vh;
		width: 90vw;
	}
	.galleryImg:hover{
		transform: none;
	}
}